{% extends 'base.html' %}
{% load static %}

{% block title %}Корзина{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
<h1>В вашей корзине</h1>
<table class="cart">
    <thead>
        <tr>
            <th>Продукт</th>
            <th>Количество</th>
            <th>Цена за штуку</th>
            <th>Стоимость</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>{{ product.name }}</td>
            <td>

                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ item.update_quantity_form.quantity}}
                    {{ item.update_quantity_form.override}}
                     {% csrf_token %}
                    <input type="submit" value="Обновить">
                </form>

            </td>
            <td>{{ item.price }}</td>
            <td>
                {{ item.total_price }}
            </td>

            <td>
                 <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                     {% csrf_token %}
                    <input type="submit" value="X">
                </form>
            </td>
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
    </table>
    <p>Итого: {{ cart.get_total_price }}</p>
{% endblock %}