{% extends 'base.html' %}
{% load static %}

{% block title %}Корзина{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
<h1>В вашей корзине</h1>
<table class="cart">
    <thead>
        <tr>
            <th>Продукт</th>
            <th>Количество</th>
            <th>Цена за штуку</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
    </table>
    <p>Итого: {{ cart.get_total_price }}</p>
{% endblock %}